.card
  background: #ffffff
  border: 1px solid #DEE0E3
  border-radius: $border-radius

.cardDivider
  margin: 0

.cardBlock
  padding: 1rem

.cardBlock--medium
  padding: 2rem

.card--shadow
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .08), 0 2px 2px rgba(0, 0, 0, .15)

.card--theme-accent
  background: $color-accent
  border-color: $color-accent

.card--theme-error
  background: $color-error
  border-color: $color-error
  color: #fff

.block-medium
  padding: 1.5rem

.block-large
  padding: 2rem

.cardHeader
  background: #f6f6f6
  padding: .75rem 1rem
  box-shadow: 0 1px 1px rgba(#000, .2)
  border-radius: $border-radius $border-radius 0 0
  position relative
  z-index: 2

.cardTitle
  margin: 0
  font-size: 16px
