{
  "env": {
    "development": {
      "plugins": [
        ["wildcard", { "useCamelCase": true }]
      ],
      "presets": [
        "next/babel",
        "@babel/preset-flow"
      ]
    },
    "production": {
      "plugins": [
        ["wildcard", { "useCamelCase": true }]
      ],
      "presets": [
        "next/babel",
        "@babel/preset-flow"
      ]
    },
    "test": {
      "extends": "./.babelrc.server.json"
    }
  }
}
