// Primary colors
$color-primary = #b63782
$color-primary-dark = darken($color-primary, 15%)
$color-accent = #e78839
$color-editor = #34e79a

// Spacing
$spacer = 1rem
$spacers = {
  '0': 0,
  '1': ($spacer * .25),
  '2': ($spacer * .5),
  '3': $spacer,
  '4': ($spacer * 1.5),
  '5': ($spacer * 3)
}

// Alternative colors
$color-info = #0070E0
$color-success = #3ba950
$color-warning = #ff5252
$color-error = #ff5252

// Text colors
$text-base = #383536
$text-muted = #7E828B
$text-muted-dark = #5A606E
$text-anchor = $color-primary

// Body
$body-bg = #fff
$body-color = $text-base

// Fonts
$font-size-base = 1rem
$font-weight-base = normal
$font-line-height-base = 1.5
$font-family-base = Roboto, Helvetica, Arial, sans-serif
$line-height-base = 1.5

$font-size-small = .875rem
$font-size-medium = 1.125rem
$font-size-large = 1.25rem

$paragraph-margin-bottom = 1rem

$h1-font-size = 2.5rem
$h2-font-size = 2rem
$h3-font-size = 1.75rem
$h4-font-size = 1.5rem
$h5-font-size = 1.25rem
$h6-font-size = 1rem

$headings-margin-bottom = ($spacer / 2)
$headings-font-family =   inherit
$headings-font-weight =   bold
$headings-line-height =   1.25
$headings-color =         inherit


$display-default-weight = 300

$lead-font-size =   1.25rem
$lead-font-weight = 300


// Font weight
$font-weight-light = 300
$font-weight-normal = normal
$font-weight-semibold = 500
$font-weight-bold = bold


// Link
$link-color = #4160a0
$link-decoration = none
$link-hover-color = darken($link-color, 15%)
$link-hover-decoration = underline

// Utils
$border-radius = 3px
$border-width = 1px

$blockquote-small-color =  #868e96
$blockquote-font-size =    ($font-size-base * 1.25)

$mark-padding = .2em
$mark-bg = #fcf8e3

$list-inline-padding = 5px

$hr-border-color = rgba(#000,.1)
$hr-border-width = $border-width

// Tables
$table-cell-padding = .75rem
$table-cell-padding-sm = .3rem

// Components
$toolbar-height = 56px
