.badge
  display: inline-block
  padding: .25em .4em
  font-size: 75%
  font-weight: 700
  line-height: 1
  color: #fff
  text-align: center
  white-space: nowrap
  vertical-align: baseline
  border-radius: .25rem
  background: #636c72
  border: 1px solid transparent

.badge--accent
  background: $color-accent

.badge--error
  background: $color-error

.badge--bordered-accent
  background: #f1f8ff
  border-color: #c8e1ff
  color: $color-accent

.badge--option
  margin-right: .3rem
  margin-top: .15rem
  margin-bottom: .15rem
  font-size: $font-size-small
  position: relative
  padding: .35rem 1.6rem .35rem .55rem

  .btn
    position: absolute
    right: 0
    top: 0
    bottom: 0
    border-top-left-radius: 0
    border-bottom-left-radius: 0
    padding: .1rem .25rem
