$toolbar-height = 60px

.container
  display: flex
  position relative
  padding-top: $toolbar-height
  padding-left: 300px

.sidebar2
  background: #f6f6f6
  padding: 2rem 0
  border-right: 1px solid #eee
  position: fixed
  left: 0
  top: $toolbar-height
  bottom: 0
  width: 300px

.body
  padding: 56px
  max-width: 852px
  flex: 1 1 auto

.toolbar
  background: #1a1145
  height: $toolbar-height
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 10

.categoryName
  font-size: 24px
  margin: 0 1rem

.postsList
  list-style-type: none
  padding: 0
  margin: 0

  li
    font-size: 18px

    a
      display: block
      padding: .5rem .6rem .5rem 2rem

      &:hover
        background: #f2f0fb
        text-decoration: none

      &.activeSidebarItem
        box-shadow: inset 5px 0 #805dff
        background: #eae5fd
