
.page
  padding-top: 60px

.banner
  background: #000
  padding: 7rem 1rem

.avatar
  width: 32px
  height: 32px
  border-radius: 3px
  background: #333

.bubble
  border-radius: 10px
  background-color: rgb(230, 236, 247)
  background-image: radial-gradient(at left top, rgb(246, 251, 252) 0%, rgb(230, 236, 247) 100%)
