
.shake-1
  animation: shake .5s ease-in-out 0s 1 normal

.animation-fadeUp
  animation: fadeUp .5s ease-in-out 0s 1 normal

@keyframes fadeUp
  0%
    opacity: 0
    margin-top: 30px

  100%
    opacity: 1
    margin-top: 0px

@keyframes shake
  10%, 90%
    transform: translate3d(-2px, 0, 0)

  20%, 80%
    transform: translate3d(4px, 0, 0)

  30%, 50%, 70%
    transform: translate3d(-6px, 0, 0)

  40%, 60%
    transform: translate3d(6px, 0, 0)
