.bg-white
  background: #fff

.bg-grey
  background: #f6f6f6 !important

.bg-muted
  background: #e8ebef

.bg-transparent
  background: transparent !important

.bgCover
  background-size: cover
  background-position: center

.bgPreview
  filter: blur(10px)
