.btn-xl,
.btn--size-x-large
  font-size: 1.5rem
  padding: 1.2rem 1.5rem

.btn--size-large,
.btn-lg
  font-size: $font-size-large
  padding: .782rem 1rem

.btn--size-medium
  font-size: $font-size-medium
  padding: .625rem .9375rem

.btn--size-small
  font-size: $font-size-small
  padding: .313rem .5rem
